/**
 * @author doctorbhatti
 * @email dochassan12@outlook.com
 * @create date 2021-03-15 01:15:44
 * @modify date 2021-03-15 01:15:45
 * @desc [description]
 */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    color: #808080;
}

h1 {
    font-size: 4rem;
    padding: 10px;
    margin: 10px auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user,
.os {
    font-size: 1.1rem;
    height: 30px;
}

label {
    margin: 5px auto;
}

progress {
    margin: 10px auto;
    border-radius: 100px !important;
}

progress[value] {
    appearance: none;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
}

footer {
    position: fixed;
    bottom: 10px;
    text-align: center;
    padding: 10px;
    left: 50%;
    transform: translate(-50%);
}

.home {
    text-decoration: none;
    position: sticky;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

.home .home-svg {
    width: 20px;
    display: inline-block;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
}